div{
    text-align: center;
}
.color {
color: green;
font-size: 100px;
}
.color2 {
    color: rgb(0, 17, 255);
    font-size: 150px;
    text-align: right;
}
.c3{
    text-align: right;
    color: rgb(0, 255, 76);
    font-size: 200px;
}
